tmp*
*.pyc
bin/add_to_info
bin/make_qvt
bin/pileup2multiallele_vcf
bin/savi_comp
bin/savi_conf
bin/savi_poster
bin/savi_poster_accum
bin/savi_poster_merge
bin/savi_poster_prt
bin/savi_prior_build
bin/savi_prior_build_2
bin/savi_txt2prior
bin/savi_unif_prior
bin/filter_pileup
notes
